body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

.hero-image{
    background-image: linear-gradient(
        rgba(14, 11, 22, 0.5), rgba(0,0,0,0.9)), 
    url("/img/banner-image-.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image .hero-text{
    color: #fff;
    text-align: center;
}

.hero-image .hero-text h1{
    color: #66FCF1;
    font-family:'OCR A Extended';
    letter-spacing: 8px;
    font-family: OCR A Extended;
    font-size: 50px;
    font-weight: 500;
}

.hero-image .hero-text p{
    font-size: 30px;
    line-height: 10px;
    font-family: "Lucida Sans Typewriter";
    font-style: oblique;
}
.hero-image .hero-text img{
    width: 100px;
    height: 100px;

}
.hero-image .hero-btn{
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    padding: 10px 30px;
    border: solid 3px #66FCF1;
    border-radius: 10px;
    margin-top: 10px;
    display: inline-block;
}

.hero-image .hero-btn:hover{
    background: #fff;
    color: #000;
}
nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding-bottom: 0;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-family: poppins;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 2px;
    border-radius: 3px;
    text-decoration: none;
    padding: 7px 10px;

          
}
a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
  } 

