* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: rgba(255, 255, 255, 0.5);
}

.hero-image{
    background-image: linear-gradient(
        rgba(14, 11, 22, 0.5), rgba(0,0,0,0.9)), 
    url("/img/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image .hero-text{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 8rem;
}

.hero-image .hero-text h1{
    color: #66FCF1;
    font-family:'OCR A Extended';
    letter-spacing: 10px;
    font-family: OCR A Extended;
    font-size: 50px;
    font-weight: 500;
}

.hero-image .hero-text p{
    font-size: 30px;
    line-height: 10px;
    font-family: "Lucida Sans Typewriter";
    font-style: oblique;
}
.hero-image .hero-text img{
    width: 100px;
    height: 100px;

}
.hero-image .hero-btn{
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    padding: 10px 30px;
    border: solid 3px #66FCF1;
    border-radius: 10px;
    margin-top: 10px;
    display: inline-block;
}

.hero-image .hero-btn:hover{
    background: rgba(255, 255, 255, 0.308);
    
}
.wave {
    animation-name: wave-animation;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }

  @keyframes wave-animation {
      0% { transform: rotate( 0.0deg) }
     10% { transform: rotate(25.0deg) }
     20% { transform: rotate(-8.0deg) }
     30% { transform: rotate(14.0deg) }
     40% { transform: rotate(-4.0deg) }
     50% { transform: rotate(10.0deg) }
     60% { transform: rotate( 0.0deg) }
    100% { transform: rotate( 0.0deg) }
  }
@media screen and (max-width: 860px){
    .hero-image{
        width: 100%;
        height: 50%;
        margin-top:40px;
    }
   .hero-image .hero-text{
       text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 2rem;
             
    }
    .hero-text p{
        padding-top:1.5rem;
        padding-bottom: 2rem;
    }
    .hero-image .hero-text img{
        width: 50px;
        height: auto;
    }
    .hero-image .hero-text h1{
        font-size: 2rem;
        letter-spacing: normal;
    }
    .hero-image .hero-text p{
        font-size: 1rem;
        
    }
}

/*  ///////////////// Navbar section ////////////////////////*/

  .navbar {
    background: #0082e6;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1500;
    
  }
  
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
  }
  #navbar__logo{
      height: 80px;
      display: flex;
      align-items: center;
  }
  
  #navbar__logo img{
    height: auto;
    width: 60px;
    cursor: pointer;
    text-decoration: none;
  }
  
  .navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
  }
  
  .navbar__item {
    height: 80px;
  }
  
  .navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
  }
 .navbar__links:hover {
    font-weight: bold;
    transition: all 0.3s ease;
  }
  
  @media screen and (max-width: 960px) {
    .navbar__container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
    }
  
    .navbar__menu {
      display: grid;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: -1;
    }
  
    .navbar__menu.active {
      background: #0082e6;
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: auto;
      font-size: 1.4rem;
      
    }
  
    #navbar__logo {
      padding-left: 25px;
    }

    #navbar__logo img{
        height: auto;
        width: 40px;
        cursor: pointer;
        text-decoration: none;
      }
  
    .navbar__toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      transition: all 0.3s ease-in-out;
      background: #fff;
    }
  
    .navbar__item {
      width: 100%;
      border-top: 1px solid rgba(255, 255, 255, 0.151);
      
    }
  
    .navbar__links {
      text-align: center;
      padding: 1.1rem;
      width: 100%;
      display: table;
    }
  
    #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
    }
  
    .navbar__toggle .bar {
      display: block;
      cursor: pointer;
    }
  
    #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
    }
  
    #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }

/*  ///////////////// About Me section ////////////////////////*/
.about-me{
    width: 100%;
    height: 100vh;
    background: white;
    padding-top: 50px;
    padding-bottom: 50px;
}
.about_me-container{
   margin: auto 10%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}
.left-content{
   display: flex;
   align-self: flex-start;
}
.left-content img{
   width: 450px;
   display: flex;
   align-items: center;
   margin-top: 2rem;
   margin-bottom: 4rem;    
}
.right-content{
   margin-left: 4rem;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   
}
.right-content .paragraphs p{
   font-family: 'Poppins', sans-serif;
   color: rgba(0, 0, 0, 0.65);
   margin-bottom: 1.5rem;
   font-weight: 500;
}
.about-header{
   font-size: 1.5rem;
   color:rgba(31, 40, 51, 0.65);
   text-align: center;
}
.about-header span{
   color: rgba(205, 58, 197, 1);
}

.skills-icons{
   padding-bottom: 20px;
   
}
.skills-section h2{
   margin-bottom: 30px;
   color: rgba(31, 40, 51, 0.65);
}
.skills-icons span img{
   width: 4rem;
   padding-right: 15px; 
}

@media screen and (max-width: 860px){
   .about-me{
       height: auto;
       width: 100%;
       font-size: 1rem;
   }
   .about_me-container{
       flex-wrap: wrap;
       margin-left: 0;
       margin-right: 0;
   }
  .about_me-container .left-content img{
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;

  }
  .about-me .about-header h1{
      font-size: 2rem;
  }
  .right-content .paragraphs{
    font-family: 'Poppins', sans-serif;
   color: rgba(0, 0, 0, 0.65);
   margin-top:-1.5rem;
  }
  .right-content .paragraphs p{
   margin-bottom: 1.2rem;
   font-weight: normal;
  }
  .right-content{
      margin-left: 1rem;
      margin-right: 1rem;
  }
  .skills-section h2{
      font-size: 1.2rem;
      
  }
  .skills-icons span img{
   width: 3rem;
  }
  .skills-icons-wrapper{
     padding: 1rem;
      background: rgb(255, 255, 255);
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(105, 101, 101, 0.164);
  }
  .skills-icons{
      text-align: center;
      padding: 0;
  }  
}

/*  ///////////////// Contact Me section ////////////////////////*/
.contacts-section{
    height:100vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: rgb(165, 255, 249);
    
}
.contacts-div{
    margin:auto 10%;
}
.contacts-section h1{
    text-align: center;
    padding-bottom: 50px;
    font-weight: 700;
    font-size: 45px;
}
.contacts-section h1 .get{
    color:rgba(31, 40, 51, 0.65);
}
.contacts-section h1 .in-touch{
    color: rgba(205, 58, 197, 1);
}

.contacts-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.right-contacts form{
    width:450px;
    height: auto;
    background-color: #193751;
    padding: 20px;
    border-radius: 10px;
    color: white;
}
.left-contacts{
    margin-bottom: auto;
    margin-top: auto;
 
}
.right-contacts form h3{
    margin-bottom: 1.8rem;

}
.left-contacts a{
    text-decoration: none;
}
.phone-email{
    font-weight: 500;
    font-size: 1.5rem;
    color:rgba(31, 40, 51, 0.80);
}

#name, #email{
    padding-left:5px;
    width: 98%;
    height: 2.8em;
    position: relative;
    bottom: 10px;
    border: 2px solid #66FCF1;
    border-radius: 10px;
    position: inline-block;
    background-color: transparent;
    margin-bottom: 10px;
    color: white;
    outline: none;
    margin-bottom: 1rem;
        
  }
#message{
    padding-left:5px;
    width: 98%;
    position: relative;
    border: 2px solid #66FCF1;
    border-radius: 10px;
    position: inline-block;
    background-color: transparent;
    color: white;
    outline: none;
}
input::placeholder,textarea::placeholder{
    color: rgba(217, 221, 211, 0.918);
}
.contact-error{
    margin-top:-1rem;
    margin-bottom: 1rem;
    text-align: center;
    display: none;
    letter-spacing: 2px;
    font-size: 0.8rem;
    color: rgb(252, 101, 101);
    width: 98%;
}
#submit{
    display: inline-block;
    width: 98%;
    height: 2.8em;
    background:#1762A7;
    border-radius: 5px;
    color: #66FCF1;
    font-size:1.2rem;
    border: none;
    cursor: pointer;
    }
#submit:hover{
    border: 1px solid #66FCF1;
    font-size: 1.3rem;
}
.fa-mobile-alt, .fa-envelope{
    color:rgba(205, 58, 197, 1);
    font-size: 1.5em;
    font-weight: bold;
}
.social-icons{
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}
.social-icons a{
    text-decoration: none;
    
}
.social-icons i{
    color:#193751;
    font-size: 3rem;
    
}
.social-icons i:hover{
    text-decoration: none;
    transform: scale(1.2);
}

@media screen and (max-width: 860px){
    .contacts-section{
        width: 100%;
        height: auto;
    }
    .contacts-section h1{
        font-size: 2rem;
    }
    .contacts-container{
        flex-wrap: wrap;
    }
    .phone-email{
        font-weight: 400;
        font-size: 18px;
    }
    .left-contacts{
        font-weight: normal;
        
    }
    .social-icons i{
        font-size: 2.5rem;
       
    }
    .right-contacts form{
        width: 100%;
        height: fit-content;
        line-height: normal;
        padding-top: 1rem;
        margin-top: 2rem;
    }
    #name, #email, #message{
        border:1px solid #66FCF1;
    }
    .right-contacts form h3{
        font-size: 15px;
        font-weight: normal;
        padding-bottom: 1rem;
        text-align: center;
        margin-bottom: 1rem;
    }
    .right-contacts form #message{
        height: 65px;
    }
}

/*  ///////////////// Portfolio section ////////////////////////*/
.portfolio-section{
    background:#193751;
    width: 100%;
    height: 100vh;
}
.portfolio-section h1{
    text-align: center;
    font-size: 3rem;
    color: #66FCF1;
    font-family: 'Poppins', sans-serif;
    padding:2rem;
}
.projects-container{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
}
.img-card img{
    width: 242px;
    height: 140px;
    margin-right:-4rem;
    border-radius: 10px;
    border: 2px solid white;
    cursor: pointer;
}
.project-cards-wraper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgba(102, 252, 241, 0.1);
    padding-left: 20px;
    border-radius: 15px;
    height: 90%;
}
.img-card img:hover{
    transform: scale(1.8);
}
@media screen and (max-width: 860px){
    .portfolio-section{
        height: auto;
    }
    .projects-container{
        display: flex;
        flex-direction: column;
        height: auto;
        padding-bottom: 4rem;
    }
    .portfolio-section h1{
        text-align: center;
        font-size: 1.5rem;
        
    }
    .project-cards-wraper{
        padding-left: 5%;
    }
    .img-card img{
        margin-right:auto;
        margin-left: auto;
        margin-bottom: 1rem;
    }
    .img-card img:hover{
        transform: scale(1.1);
    }
}

/*  ///////////////// Blog page section ////////////////////////*/
.blog-section{
    top: 0;
    font-family: 'Poppins', sans-serif;
    background: white;
    padding-bottom: 5rem;
}
.blog-section h1{
    text-align: center;
    font-size: 2rem;
    color: rgba(56, 53, 53, 0.45);
    padding: 2rem;
}
.back-button{
    text-align: center;
    text-decoration: none;
    color: cornflowerblue;
}
.fa-arrow-alt-circle-left{
    
    font-size: 1.5rem;
}

.blog-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom:25px;
    border: 1px solid rgba(56, 53, 53, 0.45);
    padding:3rem 2rem;
}
.blog-content{
    padding-left: 4rem;
}
.blog-thumbnail{
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-thumbnail img{
    width: 400px;
    height: auto;

}
.editor-and-time{
    display: flex;
    margin-bottom: 1rem;
 
}
.editor-and-time span{
    margin-right:20px;
    font-weight: 500;
}
.editor{
    color: #1762A7;
}
.time{
    color: rgba(56, 53, 53, 0.45);
}
.likes-and-comments{
    display: flex;
    margin-top:15px;
}
.likes,.comments{
    margin-right: 20px;  
}
.likes i,.comments i{
    font-size: 1.2rem;
    color: rgba(56, 53, 53, 0.45);
}
.likes-counter, .comments-counter{
    color: #1762A7;
    font-weight: bold;
}
.blog-body p{
    line-height: 2rem;
}
.blog-body h3{
    padding-bottom: 1rem;
}

@media screen and (max-width: 860px){
    .blog-section{
        padding-bottom: 2rem;
        align-items: center;
        max-width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .blog-section h1{
        font-size: 1.5rem;
        padding: 1.5rem;
    }
    
    .blog-container{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:2rem 1.5rem;
    }
    .blog-content{
        padding:2px;
    }
    .blog-thumbnail{
        width: 100%;
    }
    .blog-thumbnail img{
        width: 100%;
        height: auto;
    
    }
    .editor-and-time{
        display: flex;
        margin-bottom: 1rem;
     
    }
    .editor-and-time span{
        margin-right:10px;
        font-weight: 400;
        font-size: 10px;
    }
    
    .likes-and-comments{
        display: flex;
        margin-top:15px;
    }
    .likes,.comments{
        margin-right: 15px;  
    }
    .likes i,.comments i{
        font-size: 16px;
    }
    .likes-counter, .comments-counter{
        font-weight: 400;
        font-size: 14px;
    }
    .blog-body p{
        line-height: normal;
        font-size: 12px;
        text-align: justify;
    }
    .blog-body h3{
        padding-bottom: 1rem;
        font-size: 13px;
        font-weight: 600;
    }
    .back-button, .fa-arrow-alt-circle-left{
        font-size:14px
    }

}

/*  ///////////////// Blog Details section ////////////////////////*/
.whole-blog-section{
    background: white;
    padding: 2rem 15%;
}
.whole-blog-section h1{
    font-size: 3rem;
    padding-bottom: 2rem;
    color: rgba(196, 184, 184, 0.9);
    text-align: center;
}
.blog-details-thumbnail{
    width: 100%;
    padding-bottom: 2rem;
    padding-top: 1rem;
}
.blog-details-thumbnail img{
    width: 100%;
}
.blog-details-section{
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 0 10px rgb(235, 224, 224);
    padding: 3rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    
}
.blog-details-section h2{
    padding-bottom: 1rem;
    font-size: 1.8rem;
}
.blog-details-section #editor{
    color: rgba(196, 184, 184,1);
}
.main-content h3{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.main-content p{
    margin-bottom: 1rem;
    font-weight: 500;
    font-size: 1.1rem;
    text-align: justify;
}
.main-content ul{
    margin-bottom: 2rem;
}
.main-content ul li{
    margin-left: 4rem;
    padding-left: 1rem;
}
.main-content ul h4{
    margin-bottom: 1rem;
    
}
.main-content code{
    background:rgb(27, 27, 27);
    color:rgb(255, 255, 255);
    font-size:1rem;
    padding:0 0.5rem;
}
.comment-form{
    width: 100%;
    display: flex;
    margin-bottom: 2rem;
    margin-top: 2rem;
    justify-content: space-around;
}
.comment-form span{
    width:20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.comment-form #comment1,.comment-form #name1{
    width: 100%;
    padding:0.5rem 1rem;
    outline: none;
    border: none;
    font-size: 1rem;
    border-bottom: 1px solid gray;
}
#comment1::placeholder,#name1::placeholder{
    color: rgba(128, 128, 128, 0.836);
}
#comment1:focus,#name1:focus{
    border-bottom: 2px solid black;

}
.comment-btn{
    padding: 0.2rem 2rem;
    font-family:poppins;
    font-size: 1rem;
    color: white;
    background: #fd6547;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    
}
.comment-btn:hover{
    background: #ff2a00;
    transform: scale(1.2);
    transition: .3s;
}
.comments-section{
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 0 10px rgb(235, 224, 224);
    padding: 3rem;
    border-radius: 5px;
    margin-bottom: 2rem;
}
.comments-section h3{
    border-bottom:3px solid #fd6547;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
    font-size: 1.8rem;
    color: gray;
}
.commentator{
    color:rgb(134, 129, 129);
    font-weight: bold;
    padding-bottom:0.5rem
}
.comment{
    margin-bottom: 3rem;
    border-bottom: 1px solid rgba(158, 153, 153, 0.425);
    padding-bottom: 0.8rem;
}

@media screen and (max-width: 860px){
    .whole-blog-section{
        padding: 0.8rem 5%;
    }
    .whole-blog-section h1{
        font-size: 2rem;
        padding-bottom: 1rem;
    }
    .blog-details-thumbnail{
        padding-bottom: 1rem;
        padding-top: 0.5rem;
    }
    .blog-details-section{
        padding: 1rem;
        border-radius: 5px;
        margin-bottom: 1rem;
        
    }
    .blog-details-section h2{
        padding-bottom: 1rem;
        font-size: 1.1rem;
    }
    .blog-details-section #editor{
        font-size: 0.8rem;

    }
    .main-content h3{
        font-size: 1.1rem;
    }
    .main-content p{
        margin-bottom: 1rem;
        font-weight: 400;
        font-size: 1rem;
        text-align:left
    }
    .main-content ul{
        margin-bottom: 1rem;
    }
    .main-content ul li{
        margin-left: 2rem;
        padding-left: 0.5rem;
    }
    .comment-btn{
        padding: 0.5rem 1rem;
        width: 200px;
        margin-bottom: 1rem;
        font-size: 16px;
    }
    .comments-section{
        padding: 1rem;
        margin-bottom: 1rem;
    }
    .comments-section h3{
        border-bottom:2px solid #fd6547;
        padding-bottom: 0.5rem;
        margin-bottom: 1.5rem;
        font-size: 1rem;
    
    }
    .comment{
        margin-bottom: 2rem;
        border-bottom: 1px solid rgba(128, 128, 128, 0.24);
    }
     /*comment form*/
    .comment-form{
        flex-direction: column;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    .comment-form span{
        margin-bottom: 1rem;;
        width:90%;
        justify-content: flex-start;
    }
    .comment-btn{
        margin-top: 1rem;
    }
    #comment1:focus,#name1:focus{
        border-bottom: 1px solid black;
    
    }

}

/* login page */
.login-section{
    width: 100vw;
    height: 100vh;
    background: white;
    position: relative;
    padding-top: 10vh;
    padding-bottom: 10vh;
}
.wrapper{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    padding: 3rem;
    width: 70vw;
    height: 80vh;
    display: flex;
    background: #fc00ff;
    background: -webkit-linear-gradient(45deg, #00dbde, #fc00ff);
    background: linear-gradient(45deg, #00dbde, #fc00ff);

}
.left-div{
    width: 50%;
    border-right: 2px solid white;
    display: flex;
    align-items: center;
}
.right-div{
    width: 50%;
    padding: 5% 5%;

}
.left-div img{
    width: 100%;
}

.login-container{
    display: flex;
    background: rgba(23, 98, 167, 0.78);   
}
.right-div h3{
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
    margin-bottom:2rem
}
.right-div h3 span{
    border-top: 4px solid #66FCF1;
}
.input-div{
    position:relative;
}
.input-div input{
    width: 100%;
    padding: 10px;
    background: none;
    border: 2px solid #ffffff;
    border-radius:10px;
    outline: none;
    color: white;
}
input[type="text"]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 6px 0 rgb(183, 215, 248);
  }
.input-div input::placeholder{
    color: white;
}
.error-message {
    font-size: 0.85rem;
    color: rgb(247, 121, 121);
    margin-bottom: 1.5rem;
  }
  .input.input-error {
    border: 1px solid rgb(247, 121, 121);
  }
  
  .input.input-error:focus {
    border: 1px solid rgb(245, 223, 99);
  }
.input-div i{
    color: white;
    position: absolute;
    right: 0;
    padding: 10px 15px;
    transition: 0.3s;
}
.right-div button{
    cursor: pointer;
    color: #1A69EF;
    background: #66FCF1;
    width: 100%;
    margin-top:2.5rem;
    padding:10px;
    border:2px solid white;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 2px;
}
.right-div button:hover{
    color: #66FCF1;
    background:#1A69EF;
    transition: .3s ease-in-out;
}

@media screen and (max-width: 860px){
    .login-section{
      padding:0;
    }
    .wrapper{
        padding: 1rem;
        width: 100vw;
        height: 100vh;
        justify-content: center;
    }
    .left-div{
        display: none;
    }
    .right-div{
        margin-top:5rem;
        margin-left:2rem;
        width: 80vw;
        padding: 5% 5%;
        justify-content: center;
    }
    .right-div h3{
        font-size: 1.2rem;
    }
    .right-div h3 span{
        border-top: 4px solid #66FCF1;
    }
    .input-div input{
        border: 1px solid #ffffff;
        border-radius:10px;
    }
    .input-div i{
        color: white;
        position: absolute;
        right: 0;
        padding: 10px 15px;
        transition: 0.3s;
    }
    .right-div button{
        margin-top:2rem;
        border:1px solid white;
        font-weight: 600;
        font-size: 1rem;
        letter-spacing:normal;
    }
}

/* Admin panel section -- Dashboard*/
.admin-panel{
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    background: white;

}
.side-menu{
    height: 100vh;
    width: 20vw;
    background: #193751;
    position:fixed;
}
.side-menu .logo{
    width: 100%;
    height: 10vh;
    border-bottom: 2px solid white;
    box-shadow:  0 5px 2px rgb(16, 0, 54);
    display: flex;
    justify-content: center;
    align-items: center;
}
.side-menu .logo img{
    width: 50px;

}
.side-menu ul{
    padding-top: 1rem;
}
.side-menu li{
    font-size: 1.5rem;
    color: white;
    padding:1rem 2rem;
    list-style: none;
}
.side-menu li:hover{
    background: white;
    color: #193751;
    transition: .5s;
}
.side-menu a{
    text-decoration: none;
}

.side-menu li span{
    padding-left: 1rem;
}
.logout{
    cursor: pointer;
}
.new-article-btn{
    width: 60%;
    padding-left: 2rem;
    padding-top: 8rem;
}
.new-article-btn button{
    width: 100%;
    padding: 0.5rem;
    cursor: pointer;
    background: #1762A7;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.new-article-btn button:hover{
    background: #4290d8;
    transition: .5s;
}
.right-container{
    position: absolute;
    width: 80vw;
    height: auto;
    right: 0;
    
}
.right-container header{
    width: 100%;
    height: 10vh;
    background:#1762A7;
    box-shadow: 10px 0 5px 2px rgb(151, 151, 151);
    border-bottom: 2px solid white;
    border-left: 3px solid white;
    display: flex;
    align-items: center;
}
.insights-wrapper{
    margin:1rem 1rem;
    width: 80%;
    height: 30vh;
    display: flex;
    justify-content: space-around;
}
.insights-wrapper h2{
    color: white;
    font-size: 2.5rem;
    letter-spacing: 0.5mm;
    text-align: center;
    padding-top: 1rem;

}
.visitors-card{
    border-radius: 0 50px 0 50px;
}
.blogs-card{
    border-radius: 50px 0 50px 0;
}
.visitors-card,.blogs-card{
    background: #0562b9;
    width: 40%;
    box-shadow: 2px 2px 8px rgb(192, 187, 187);
    border:3px solid white;
    cursor:pointer;
}
.visitors-card p,.blogs-card p{
    width: 100%;
    background: rgba(255, 251, 153, 1);
    padding: 1.2rem 2rem;
    text-align: center;
    color: #366E9F;
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: 2px;
    margin-top:8%;
    box-shadow: 2px 2px 5px rgb(136, 133, 133);
    margin-left: 2rem;

}
.visitors-card:hover,.blogs-card:hover{
    box-shadow: 0 0 5px rgb(192, 187, 187);
    transform: scale(0.98);
}
.right-container .content{
    padding:2rem 4rem;
}
.right-container header p{
    color:white;
}
.admin-profile-picture{
    width: 50px;
    height: 50px;
    border:1px solid white;
    border-radius: 5px;
    margin-left: 1rem;
    
}
.admin-profile-picture img{
    width: 100%;
}
.right-container header a{
    right: 4rem;
    position: absolute;
    text-decoration: none;
}
.right-container header a .user:hover{
    border-bottom: 1px solid white;

}
.admin-profile-picture:hover{
    transform: scale(1.05);
}
.user-wrapper{
    display: flex;
    align-items: center;
}
.content h3{
    color:rgba(23, 98, 167, 0.78);
    margin-bottom: 2rem;
}
.message-card{
    box-shadow:0 0 12px rgba(206, 203, 203, 0.712);
    margin-bottom: 2rem;
    border-radius: 10px;
    position: relative;
    width: 80%;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.message-card:hover{
    box-shadow:0 0 8px rgba(245, 232, 232, 0.712);
    cursor: pointer;
    transition: .1s;
    transform: scale(1.01);
}
.message-wrapper .user-names{
    color: rgba(23, 98, 167, 1);
    font-size: 1rem;
    font-weight:500;
    margin-bottom: 1rem;
}
.message-wrapper .user-email{
    color: rgb(163, 159, 159);
    font-weight: normal;
}
.message-wrapper .user-email a{
    text-decoration: none;
    color: inherit;
}
.message-wrapper summary{
    font-size: 1.1rem;
    font-weight: 500;
}
.message-wrapper .location{
    position: absolute;
    right: 1.5rem;
}
.message-wrapper .location span{
    color: rgba(23, 97, 167, 0.5);
}
.message{
    padding-left:1.2rem;
}
.delete-btn{
    width: 100px;
    height: 25px;
    
    
}
.delete-btn i{
    padding: 0.5rem 2rem;
    cursor: pointer;
    margin-top: 0.7rem;
    /* background: #e0eefc; */
    color: rgb(255, 0, 0);
    box-shadow: 2px 2px 5px rgba(255, 255, 255, 0.589);
    font-size: 1.5rem;
    border-radius: 25%/50%;
}

.delete-btn i:hover{
    background: #4290d8;
    transition: .5s;

}
@media screen and (max-width:860px) {
    .side-menu{
        width: 10vw;
    }
    .side-menu .logo{
        height: 6vh;
        border-bottom: 1px solid white;
        box-shadow: 0 0 5px rgb(16, 0, 54);
    }
    .side-menu .logo img{
        width: 80%;
    
    }
    .side-menu li{
        font-size: 1rem;
        padding:1rem 0;
    }
    .side-menu li span{
        display: none;
    }
    .side-menu li i{
        padding-left: 0.5rem;
    }
    .new-article-btn{
        width: 100%;
        padding:0;
        margin-top: 6rem;
    }
    .new-article-btn button span{
        display: none;
    }
    .new-article-btn button{
        border-radius: 50%;
        background: none;
        font-size: 1rem;
    }
    .right-container{
        width: 90vw;  
    }
    .right-container header{
        height: 6vh;
        box-shadow: 5px 0 5px 1px rgb(151, 151, 151);
        border-left: 2px solid white;
    }
    .right-container .content{
        padding:1rem 1rem;
    }
    .admin-profile-picture{
        width: 25px;
        height: 25px;
        
    }
    .right-container header a{
        right: 3rem;
    }
    .content h3{
        margin-bottom: 1rem;
    }
    .message-card{
        box-shadow:0 0 12px rgba(206, 203, 203, 0.541);
        margin-bottom: 1rem;
        width: 90%;
        padding: 1rem 1rem;
        display: flex;
        flex-direction: column;
    }
    .message-wrapper summary{
        font-size: 1.1rem;
        font-weight: 500;
        padding-top: 1rem;
    }
    .message-wrapper .location{
        position: absolute;
        top:2.2rem;
        left:1rem;
        border-bottom: 1px solid rgb(206, 204, 204);
    }
    .message-wrapper summary{
        font-size: 1rem;
        font-weight: 400;
    }
    .message-wrapper .location{
        position: absolute;
        right: 1.5rem;
    }
    .message-wrapper .user-names{
        font-size: 13px;
    }
    .message-wrapper .user-email{
        font-size: 10px;
    }
    .message{
        font-size: 14px;
        padding-left:0;
    }
    .delete-btn{
        width: 100%;
        margin-top: 1rem;
        
    }
    .delete-btn i{
        padding: 0.5rem 1rem;
        font-size: 20px;
        margin-top: 0.2rem;
        position: absolute;
        right:0;
        top:50%;
    
    }

    /* Insights cards */
    .insights-wrapper{
        margin:1rem 1rem;
        width: 90%;
        height: 25vh;
    }
    .insights-wrapper h2{
        font-size: 2rem;
        letter-spacing: 0.2mm;
        padding-top: 0.5rem;
    
    }
    .visitors-card{
        border-radius: 0 50px 0 50px;
    }
    .blogs-card{
        border-radius: 50px 0 50px 0;
    }
    .visitors-card,.blogs-card{
        background: #0562b9;
        width: 40%;
        box-shadow: 2px 2px 8px rgb(192, 187, 187);
        border:3px solid white;
        cursor:pointer;
    }
    .visitors-card p,.blogs-card p{
        width: 80%;
        padding: 1rem 0.5rem;
        font-size: 1rem;
        letter-spacing: 1px;
        border-radius: 50%;
        margin-top:8%;
        border:2px solid white;
        margin-left: auto;
        margin-right: auto;
    
    }
    
}

/* List of articles page */

.my-articles{
    width: 100vw;
    height: auto;
    box-sizing: border-box;
    padding: 0;
}
.my-articles header{
    position: fixed;
    top: 0;
    height: 10vh;
    width: 100vw;
    background: rgba(25, 55, 81, 1);
    margin-bottom: 19rem;
    z-index: 2000;
}

.my-articles header a img{
    width: 50px;
    cursor: pointer;
    margin: 1.2rem 2.5rem;
}
.my-articles header .create{
    width: 10rem;
    background: transparent;
    font-size: inherit;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color:white;
  
}
.my-articles header a img:hover{
    transform: scale(1.2);
}


.my-articles header ul{
    display: flex;
    position: absolute;
    margin-left: 10%;
    bottom: 0;
}
.my-articles header ul a{
    text-decoration: none;
}
.my-articles header ul li{
    list-style: none;
    color: white;
    padding:1rem 2rem;
}
.my-articles header ul li:hover{
    background: rgba(255, 255, 255, 0.88);
    color:rgba(25, 55, 81, 1);
    transition:all .5s ease-in;
}
.my-articles .all-articles{
    position: absolute;
    top:10vh;
    margin:2rem 10%;
    padding-top: 2rem;
}
.all-articles a{
    text-decoration: none;
    color: inherit;
}
.article-wrapper{
    margin-left: 2rem;
    margin-bottom: 3rem;
    padding: 1rem 1rem;
    border-bottom: 1px solid gray;
    display:flex;
    align-items: center;
}
.article-wrapper:hover{
    background: rgb(186, 230, 245);
    transition: .1s ease-in;
    border-radius: 10px;
    transform:scale(1.02);
}
.article-thumbnail{
    width: 15%;
    margin-right: 2rem;
}
.article-thumbnail img{
    width: 100%;
}
.article{
    margin-right: 2rem;
    width: 75%;
}
.article h4{
    margin-bottom: 1rem;
}
.actions{
    text-align: right;
    width: 20%;
    
}
.actions i{
    font-size: 1.5rem;
    padding-left: 1rem;
    cursor: pointer;
}
.actions i:hover{
    transform: scale(1.2);
}
.actions p{
    font-size: 14px;
    font-weight: 300;
    color: rgb(150, 143, 143);
    margin-bottom: 1rem;
}
.fa-eye{
    color: rgb(48, 46, 46);
}
.fa-edit{
    color: rgba(23, 98, 167, 1);
}
.fa-trash-alt{
   color:rgba(231, 76, 60, 1);
}

@media screen and (max-width: 700px) {
    .my-articles .all-articles{
        margin:2rem 1%;
        padding-top: 1rem;
    }
    .article-wrapper{
        margin-left: 0.8rem;
        margin-bottom: 2rem;
        padding: 0.5rem 0.1rem;
        border-bottom: 1px solid rgb(187, 179, 179);
        flex-wrap: wrap;
    }
    .article-thumbnail{
        width: 90vw;
        margin: 2px 2px;
    }
    .article{
        width: 90vw;
        text-align: justify;
        margin-bottom: 0.5rem;
    }
    .article h4{
        margin-bottom: 0.5rem;
        font-size: 14px;
    }
    .actions{
        text-align: right;
        width: 90vw;
        
    }
    .actions i{
        font-size: 1.2rem;
    }
   
    .actions p{
        font-size: 12px;
        margin-bottom: 0.5rem;
    }
    .my-articles header a img{
        width: 40px;
        margin: 1.2rem 1rem;
    }
         
}


/* Add articles section */

.form-container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
}

form.add-article-wrapper{
    background:rgb(124, 234, 238);
    position: absolute;
    top:2vh;
    z-index: 3000;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    padding-left:5%;
    padding-top: 1rem;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 10px;
}
.alert{
    background-color: rgb(7, 156, 211, .2);
    color: #079cd3;
    padding: 5px;
    width: 90%;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    text-align: center;
    font-size: 1.2rem;
    display: none;
}
.open-modal{
    display: flex;
}

.add-article-wrapper button span img{
    width: 1rem;
}
.add-article-wrapper button{
    width: 10rem;
    padding: 0.5rem 1rem;
    background: #E6E6E6;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.publish-button button{
    color: white;
    background: #0c4a80;
    margin-right: 1rem;
}
button.add-media{
    background:#0c4a80;
    color:white;
}
.add-article-wrapper button:hover{
    transform:scale(1.05);
}
.add-article-wrapper input, textarea{
    width: 90%;
    outline: none;
    border:1px solid rgb(179, 174, 174);
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: 550;
    padding:0.5rem;
}

textarea:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
  }

@media screen and (max-width:860px) {
    .add-article-wrapper{
        margin-left: 1%;
        margin-right: 1%;
        width: 98%;
        padding: 1rem;
    }
    .add-article-wrapper p{
        font-size: 1rem;
    }
    .add-article-wrapper button{
        padding: 0.5rem 1.2rem;
        font-size:14px;
        width: 8rem;
       
    }
    .add-article-wrapper input, textarea{
        width: 100%;
    }
    form.add-article-wrapper{
        top:10vh;
        margin-left: 5%;
        margin-right: 5%;
        width: 90%;
        height: 90vh;
    }
    form.add-article-wrapper textarea{
        height: 8rem;
    }
    .alert{
        width: 100%;
        margin-top: 0.5rem;
        font-size: 1rem;
    }  
}


/* Profile settings */
.profile-wrapper{
    width: 50%;
    box-shadow: 0 0 12px gainsboro;
    border-radius: 10px;
    padding-left: 10%;
    padding-top: 1rem;
}
.profile-wrapper p,label{
    color:#193751;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
#upload-photo{
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.profile{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile label:hover{
    border-bottom: 1px solid gray;
    transition: .5s;
    cursor: pointer;
}
.picture{
    width: 80px;
    margin-right: 1rem;  
}
.picture img{
    width: 100%;
    border-radius: 50%;
    border: 2px solid rgb(235, 227, 227);
}
.profile-wrapper input{
    width: 80%;
    border:1px solid black;
    border-radius: 10px;
    outline: none;
    padding: 0.7rem 1rem;
    margin-bottom: 1.2rem;
}
input[type="password"]:focus {
    border-color: dodgerBlue;
    box-shadow: 0 0 8px 0 dodgerBlue;
}
.save-changes-btn{
    width: 80%;
    display: flex;
    justify-content: center;
}
.save-changes-btn button{
    color: white;
    background: #193751;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 1.2rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}
.save-changes-btn button:hover{
    background: #4480b4;
    transition: all .5s ease-in;
}
.settings-robot{
    width:40%;
    margin-left: 3rem;
}
.profile-settings{
    display: flex;
}

@media screen and (max-width:860px){
    .profile-wrapper{
        width: 98%;
    }
    .profile-wrapper p{
        font-size: 14px;
    }
    .profile{
        width:92%;
    }
    .picture{
        width: 70px;
    }
    .profile-wrapper input{
        width: 90%;
        padding: 0.5rem 1rem;
        margin-bottom: 1rem;
    }
    .save-changes-btn{
        width: 90%;
    }
    .settings-robot{
        display: none;
       
    }
}